<div class="container-fluid px-0 full-height">
  <div class="row mx-0 w-100 h-100">
    <div class="col-lg bg-white d-flex align-items-center">
      <div class="container mx-auto">
        <h3>Log in</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
          <div class="form-group">
            <label for="InputEmail">Username</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="email" formControlName="username">
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="InputPassword" formControlName="password">
          </div>
          <div *ngIf="displayMessage !== ''" class="alert alert-danger" role="alert">
            {{ displayMessage }}
          </div>
          <button *ngIf="!loading" type="submit" class="btn btn-primary">Log in</button>
          <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Logging in...
          </button>
        </form>
      </div>
    </div>
    <div class="col-lg custom-blue text-white d-flex align-items-center">
      <div class="container mx-auto text-center">
        <img src="../../../assets/images/default-monochrome-white.svg" height="60rem" alt="Logo" class="mb-3">
        <h1>
          Craniofacial condition
        </h1>
        <h2>
          detection made easier
        </h2>
      </div>
    </div>
  </div>
</div>
