<div class="container-sm px-0 mt-3">
  <div class="row mx-0 h-100">
    <div class="col-lg bg-white d-flex align-items-center">
      <div class="container-sm mx-auto">
        <h3>Change Password</h3>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
          <div class="form-group">
            <label for="InputOldPassword">Old password</label>
            <input type="password" class="form-control" id="InputOldPassword" formControlName="oldPassword">
            <div *ngIf="changePasswordForm.controls.oldPassword.invalid && (changePasswordForm.controls.oldPassword.touched || changePasswordForm.controls.oldPassword.dirty)">
              <small *ngIf="changePasswordForm.controls.oldPassword.errors.required" class="form-text text-danger">This field is required.</small>
            </div>
          </div>
          <p class="lead">Your new password must be at least 8 characters long and include at least one number.</p>
          <div class="form-group">
            <label for="InputNewPassword">New password</label>
            <input type="password" class="form-control" id="InputNewPassword" formControlName="newPassword">
            <div *ngIf="changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.touched || changePasswordForm.controls.newPassword.dirty)">
              <small *ngIf="changePasswordForm.controls.newPassword.errors.required" class="form-text text-danger">This field is required.</small>
              <small *ngIf="changePasswordForm.controls.newPassword.errors.minlength" class="form-text text-danger">Your password must be at least 8 characters long.</small>
              <small *ngIf="changePasswordForm.controls.newPassword.errors.passwordComplexity" class="form-text text-danger">Your password must contain at least one number.</small>
            </div>
            <div *ngIf="changePasswordForm.invalid && (changePasswordForm.dirty || changePasswordForm.touched) && (changePasswordForm.controls.newPassword.touched || changePasswordForm.controls.newPassword.dirty)">
              <small *ngIf="changePasswordForm.errors?.samePassword" class="form-text text-danger">Your new password must be different from your old password.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="InputRepeatNewPassword">Repeat new password</label>
            <input type="password" class="form-control" id="InputRepeatNewPassword" formControlName="repeatNewPassword">
            <div *ngIf="changePasswordForm.controls.repeatNewPassword.invalid && (changePasswordForm.controls.repeatNewPassword.touched || changePasswordForm.controls.repeatNewPassword.dirty)">
              <small *ngIf="changePasswordForm.controls.repeatNewPassword.errors.required" class="form-text text-danger">This field is required.</small>
            </div>
            <div *ngIf="changePasswordForm.invalid && (changePasswordForm.dirty || changePasswordForm.touched) && (changePasswordForm.controls.repeatNewPassword.touched || changePasswordForm.controls.repeatNewPassword.dirty)">
              <small *ngIf="changePasswordForm.errors?.newPasswordsMatch" class="form-text text-danger">Your new passwords do not match.</small>
            </div>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          <div *ngIf="success" class="alert alert-success" role="alert">
            Your password was changed.
          </div>
          <button *ngIf="!loading" type="submit" class="btn btn-primary mb-3" [disabled]="changePasswordForm.invalid">Change Password</button>
          <button *ngIf="loading" class="btn btn-primary mb-3" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Changing password...
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

