.dark-blue {
  background-color: #004ea2;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.5);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
