<div *ngIf="errorMessage !== ''" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>
<div class="container">
  <h3 *ngIf="patient !== ''">Questionnaire for patient {{ patient }} </h3>
  <h3 *ngIf="patient === ''">Your questionnaire</h3>
  <div *ngIf="!printView" class="row">
    <div class="col-8">
      <app-category *ngIf="categoryKeys.length > 0" [questions]="currentQuestions.asObservable()" [completed]="completed"></app-category>
      <button *ngIf="currentPage > 0" (click)="previousPage()" type="button" class="btn btn-primary">Previous</button>
      <button *ngIf="currentPage < categoryKeys.length - 1" (click)="nextPage()" type="button" class="btn btn-primary">Next</button>
      <button *ngIf="currentPage == categoryKeys.length - 1 && !completed" (click)="onSave()" type="button" class="btn btn-outline-success">Save</button>
      <button *ngIf="currentPage == categoryKeys.length - 1 && !completed" data-toggle="modal" data-target="#submitModal" type="button" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-outline-secondary d-print-none" (click)="printView = !printView">Print  View</button>
    </div>
    <div class="col-4" *ngIf="authStorageService.role === 'specialist'">
      <form [formGroup]="reviewForm" (ngSubmit)="onReviewSubmit(reviewForm.value)">
        <div class="form-group">
          <input type="checkbox" class="form-check-input" id="WHOChart" aria-describedby="WHOChart" formControlName="WHOChart">
          <label class="form-check-label" for="WHOChart">WHO head circumference chart</label>
        </div>
        <div class="form-group">
          <input type="checkbox" class="form-check-input" id="XRay" aria-describedby="XRay" formControlName="XRay">
          <label class="form-check-label" for="XRay">X-Ray images</label>
        </div>
        <div class="form-group">
          <input type="checkbox" class="form-check-input" id="photos" aria-describedby="photos" formControlName="photos">
          <label class="form-check-label" for="photos">Photos</label>
        </div>
        <div class="form-group">
          <label for="otherRequest">Other requests</label>
          <input type="text" class="form-control" id="otherRequest" aria-describedby="otherRequest" formControlName="other">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-4" *ngIf="authStorageService.role === 'gp' && completed">
      <h3>Specialist Review</h3>
      <h5 *ngIf="review.length === 0">No review available.</h5>
      <ul>
        <li *ngFor="let item of review">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <app-print-view *ngIf="printView" [categoryKeys]="categoryKeys" [categories]="categories"></app-print-view>
  <button *ngIf="printView" type="button" class="btn btn-outline-secondary d-print-none" (click)="printView = !printView">Normal View</button>
</div>


<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submitModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once you submitted you can no longer change your answers. Are you sure you want to submit?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="currentPage == categoryKeys.length - 1" data-dismiss="modal" (click)="onSubmit()" type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</div>
