<div class="container form-container">
  <div class="d-flex flex-column justify-content-center align-items-center full-height">
    <div class="container mx-auto">
      <form [formGroup]="newQuestionnaireForm" (ngSubmit)="onSubmit(newQuestionnaireForm.value)">
        <h1>Issue a new Questionnaire</h1>
        <div class="form-group">
          <label for="InputPatientID">Patient NHS Number</label>
          <input formControlName="patient_id" type="text" class="form-control" id="InputPatientID" aria-describedby="patientID">
        </div>
        <div class="form-group">
          <label for="InputEmail">Parent/Guardian email</label>
          <input formControlName="email" type="email" class="form-control" id="InputEmail" aria-describedby="email">
        </div>
        <div class="form-group form-check">
          <input formControlName="agreed" type="checkbox" class="form-check-input" id="InputAgreed" aria-describedby="agreed">
          <label for="InputAgreed" class="form-check-label">I agree to the <a [routerLink]="['/privacy-policy']">Privacy Policy</a></label>
        </div>
        <div class="form-group">
          <label for="templateName">Template</label>
          <select class="form-control" id="templateName" formControlName="template_id" (change)="onSelectChange($event.target)">
            <option *ngFor="let template of templates" [attr.templateID]="template.id">{{ template.name }}</option>
          </select>
        </div>
        <div *ngIf="displayMessage !== ''" class="alert alert-danger" role="alert">
          {{ displayMessage }}
        </div>
        <div *ngIf="accessID !== undefined" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Created!</h4>
          <p>The guardians access code is:</p>
          <h3>{{ accessID }}</h3>
          <hr>
          <p class="mb-0">For the guardian to access the questionnaire, go to:</p>
          <a routerLink="/guardian" class="alert-link">{{ frontEndUrl + '/guardian/' }}</a>
        </div>
        <button *ngIf="accessID === undefined" type="submit" class="btn btn-primary">Create</button>
        <button *ngIf="accessID !== undefined" (click)="onGoToGPQuestionnaireClick()" type="button" class="btn btn-success">Got to GP questionnaire</button>
      </form>
    </div>
  </div>
</div>
