<div class="container-fluid px-0 full-height">
    <div class="row p-3">
        <div class="col text-center m-4">
            <h1>Welcome to CranioQ!</h1>
        </div>
    </div>
    <div class="row p-3">
        <div class="col text-left m-4">
            <h5>CranioQ was built with the Craniofacial Surgical Team at Great Ormand Street Hospital (GOSH), London.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eum, fuga sed hic facilis quia nobis ducimus provident, cupiditate consequuntur dignissimos doloremque! Quasi molestias tempore dolore dolorum nobis quaerat culpa.</p>
            <h5>GDPR consent</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eum, fuga sed hic facilis quia nobis ducimus provident, cupiditate consequuntur dignissimos doloremque! Quasi molestias tempore dolore dolorum nobis quaerat culpa.</p>
        </div>
        <div class="col p-3">
            <img src="./assets/images/baby.png" height="200" alt="newborn" class="rounded mx-auto d-block">
        </div>
    </div>
    <div class="row custom-blue text-white p-3">
        <div class="col custom-blue text-white text-center">
            <h3>How do we work?</h3>
        </div>
    </div>
    <div class="row px-3 custom-blue text-white full-height">
        <div class="col text-left m-4">
            <h5>Register</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, tempora? Officiis nisi perferendis iure, sed quidem repellat nam laborum molestias commodi enim labore quo in ex impedit veniam fuga! At.</p>
        </div>
        <div class="col text-left m-4">
            <h5>Complete the Questionnaire.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tenetur labore nesciunt vero, hic non earum. Nihil magnam laboriosam quasi non? Cumque tempora illum nobis saepe tempore, a eaque debitis!</p>
        </div>
        <div class="col text-left m-4">
            <h5>Meet your GP</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt recusandae, ex repudiandae necessitatibus provident, quasi optio molestias culpa vitae laborum ipsum maiores cumque accusantium, sed earum impedit vel dolores.</p>
        </div>
    </div>

</div>