<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid px-0 full-height">

    <div class="row p-3">
        <div class="col text-center m-4">
            <h1>Welcome to CranioQ!</h1>
        </div>
    </div>

    <div class="row p-3">
        <div class="col text-left m-4">
            <h5>Built with the Craniofacial Surgical Team at</h5>
            <h5>Great Ormand Street Hospital (GOSH), London.</h5>
            <p>You have been sent this link as your GP would like you to answer questions about your baby before you see them during the consultation.</p>
            <p>This helps your GP to gather information before they see you, which means more time spent talking to you about your baby's development.</p>
            <p>Please read our <a href="privacy-policy">privacy policy</a> before submitting your questionnaire.</p>

        </div>
        <div class="col p-3">
            <img src="./assets/images/baby.png" height="200" alt="newborn" class="rounded mx-auto d-block">
        </div>
    </div>

    <div class="row custom-blue text-white p-3">
        <div class="col custom-blue text-white text-center">
            <h3>How does CranioQ work?</h3>
        </div>
    </div>

    <div class="row px-3 custom-blue text-white">
        <div class="col text-left m-4">
            <h5>Complete the Questionnaire.</h5>
            <p>Your GP will send you a link to a questionnaire for you to complete. This typically includes medical questions about your pregnancy, childbirth, the postnatal period and your child's development.</p>
        </div>
        <div class="col text-left m-4">
            <h5>Meet your GP</h5>
            <p>Once you have completed the questionnaire, you can schedule to meet with your GP.</p>
        </div>
        <div class="col text-left m-4">
            <h5>Assessment</h5>
            <p>If your GP thinks that  ipsum dolor sit amet consectetur adipisicing elit. Magnam, tempora? Officiis nisi perferendis iure, sed quidem repellat nam laborum molestias commodi enim labore quo in ex impedit veniam fuga! At.</p>
        </div>
    </div>
</div>