<div class="container-fluid px-0 full-height">
    <div class="row p-3"> 
        <div class="col text-left m-4">
          
            <form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        name="searchString"
                        placeholder="Search by Patient ID..."
                        [(ngModel)]="searchString"
                    />
                  </div>
                </div>
              </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>Patient ID </th>
                        <th>GP name</th>
                        <th>Date created</th>
                        <th>Review status</th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of QDetails | filter : 'patient_id' : searchString; let i = index">
                         <td>{{data.patient_id}}</td>
                         <td>Dr {{ data.gp.first_name }} {{ data.gp.last_name }}</td>
                         <td>{{data.created | date:'dd/MM/yy, H:mm'}}</td>
                         <td>                                     
                            <button class="btn btn-primary m-1" (click)="getDetails(data.review)">{{ data.review | reviewstatus }}</button>
                        </td>
                        <td>
                          <button class="btn btn-link" (click)='goToPage(data)'>View details</button>
                        </td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>