<div class="container-fluid px-0 full-height">
  <div class="row mx-0 w-100 h-100">
    <div class="col-lg bg-white d-flex align-items-center">
      <div class="container mx-auto">
        <h2>{{ details.first_name }}</h2>
        <h2>{{ details.last_name }}</h2>
        <h2>{{ details.email }}</h2>
        <br>
        <div *ngIf="details">
            <button (click)="goToPage('/edit-profile')" class="btn btn-primary">Edit</button>
        </div>
        </div>
        </div>
        <div class="col-lg custom-blue text-white d-flex align-items-center">
      <div class="container mx-auto text-center">
        <h1>
          Craniofacial condition
        </h1>
        <h2>
          detection made easier
        </h2>
      </div>
    </div>
  </div>
</div>

