<div class="container-fluid px-0 full-height">
  <div class="row mx-0 w-100 h-100">
    <div class="col-lg bg-white d-flex align-items-center">
      <div class="container mx-auto">
        <h4>Dr {{ details.first_name }} {{ details.last_name }}</h4>
        <br>
        <h6>email: {{ details.email }}</h6>
        <br>
        <h6> {{ details.clinic_name }}</h6>
        <h6> {{ details.clinic_address }}</h6>
        <h6> {{ details.clinic_postcode }}</h6>
        <br>
        <br>
        <div *ngIf="details">
            <button (click)="goToPage()" class="btn btn-primary">Edit</button>
        </div>
        </div>
        </div>
        <div class="col-lg custom-blue text-white d-flex align-items-center">
      <div class="container mx-auto text-center">
        <h1>
          Craniofacial condition
        </h1>
        <h2>
          detection made easier
        </h2>
      </div>
    </div>
  </div>
</div>

