<div class="container-fluid px-0 mt-3">
  <div class="row mx-0 w-100 h-100">
    <div class="col-lg bg-white d-flex align-items-center">
      <div class="container mx-auto">
        <h3>Edit Your Profile</h3>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
          <div class="form-group">
            <label for="InputTitle">Title</label>
            <input type="text" class="form-control" id="InputTitle" aria-describedby="title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="InputFirstName">First Name</label>
            <input type="text" class="form-control" id="InputFirstName" aria-describedby="first_name" formControlName="first_name">
          </div>
          <div class="form-group">
            <label for="InputLastName">Last Name</label>
            <input type="text" class="form-control" id="InputLastName" aria-describedby="last_name" formControlName="last_name">
          </div>
          <div class="form-group">
            <label for="InputEmail">Email</label>
            <input type="email" class="form-control" id="InputEmail" formControlName="email">
          </div>
          <div class="form-group">
            <label for="InputClinicName">Clinic Name</label>
            <input type="text" class="form-control" id="InputClinicName" formControlName="clinic_name">
          </div>
          <div class="form-group">
            <label for="InputClinicStreet">Clinic Street</label>
            <input type="text" class="form-control" id="InputClinicStreet" formControlName="clinic_street">
          </div>
          <div class="form-group">
            <label for="InputClinicCity">Clinic City</label>
            <input type="text" class="form-control" id="InputClinicCity" formControlName="clinic_city">
          </div>
          <div class="form-group">
            <label for="InputPostcode">Postcode</label>
            <input type="text" class="form-control" id="InputPostcode" formControlName="clinic_postcode">
          </div>
          <button *ngIf="authStorageService.isLoggedIn" [disabled]="!profileForm.valid" type="submit" class="btn btn-primary mb-3">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
